body {
    background-color: #222;
    margin: 0;
}

#container {
    position: absolute;
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
    width: 100%;
    top: 40px;
    bottom: 30px;
    justify-content: center;
    gap: 20px;
}

#leftSection > * {
    float: right;
}

#rightSection > * {
    float: left;
}

#holdBox,#playField,#nextBox {
    border: white solid 3px;
}

#midSection {
    display: grid;
    grid-template-rows: auto 40px;
    justify-content: center;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button {
    width: 80px;
    height: 30px;
    grid-row-start: 2;
    grid-row-end: 3;
}